@inject BuildNumberService buildNumberService

@page "/"

@using WinchHuntApp.Client.Services


<h1>Winch Hunt</h1>

<p>This app is under construction...</p>

<p>Build: @buildNumberService.ClientBuildNumber</p>



