
@inject IJSRuntime jsRuntime
@inject IMapService mapService
@inject BrowserService browserService


@using WinchHuntApp.Client.Services
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

@page "/sitemap"

<div ref="mapDiv"
     id="mapDivId"
     style="
            top: 5%;
            bottom: 5%;
            left: 5%;
            right: 5%;
            background-color: yellow">

   <GoogleMap @ref="@map" Id="map1" Options="@mapOptions"></GoogleMap>

</div>

@code {

    private ElementReference mapDiv;
    private GoogleMap map;

    private MapOptions mapOptions;


    protected override async Task OnInitializedAsync()
    {


        mapOptions = new MapOptions()
        {
            Zoom = 13,
            Center = new LatLngLiteral()
            {
                Lat = 13.505892,
                Lng = 100.8162
            },
            MapTypeId = MapTypeId.Roadmap
        };

        BrowserService.OnResize += onResize;


    }


    protected override async Task OnParametersSetAsync()
    {

    }


    private async Task onResize()
    {
        await updateMapSize();
    }


    private async Task updateMapSize()
    {
        var dims = await browserService.GetInnerDimensions("mapDivId");
        Console.WriteLine($"Browser size updated. W: {dims.Width}, H: {dims.Height}");
    }


    //private async Task GeoLocationUpdated(GeolocationResult location)
    //{

    //    if (location.IsSuccess)
    //    {

    //        GeolocationCoordinate position = new GeolocationCoordinate(52.270088, 6.876613); //new GeolocationCoordinate(location.Coordinates.Latitude, location.Coordinates.Longitude);

    //        if (currentLocationMarker == null)
    //        {
    //            currentLocationMarker = CreateLocationMarker(position);
    //            googleMap.Markers.Add(currentLocationMarker);
    //        }
    //        else
    //        {
    //            currentLocationMarker.Position = position;
    //        }

    //        Console.WriteLine("GeoLocation result is true");
    //        Console.WriteLine($"Result: {location.ToString()}");
    //    }
    //}

    //private GoogleMapMarker CreateLocationMarker(GeolocationCoordinate position)
    //{

    //    GoogleMapMarker retVal = new GoogleMapMarker(position);

    //    retVal.Icon = new GoogleMapMarkerLabelIcon("/img/currentlocation.png")
    //    {
    //        Anchor = new Point()
    //        {
    //            X = 10,
    //            Y = 10
    //        },
    //        Size = new Rect()
    //        {
    //            Width = 40,
    //            Height = 40
    //        },
    //        ScaledSize = new Rect()
    //        {
    //            Width  = 20,
    //            Height = 20
    //        }
    //    };


    //    return retVal;
    //}



    //private async Task OnMapZoomLevelChanged()
    //{

    //}


}
