
@inject IJSRuntime jsRuntime
@inject IMapService mapService

@inject GeoLocationService locationService

@using BrowserInterop.Extensions
@using BrowserInterop.Geolocation
@using WinchHuntApp.Client.Services
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

@page "/tracking"

<div ref="mapDiv"
     id="mapDivId"
     style="        
        height: 90vh;
        top: 50px;
        bottom: 50px;
        left: 5%;
        right: 5%;
        background-color: yellow">

    <GoogleMap @ref="map" Id="map1" Options="@mapOptions" OnAfterInit="@OnAfterMapInit" Height="100%"></GoogleMap>

</div>
