
@inject IJSRuntime jsRuntime
@inject IMapService mapService
@inject FoxService foxService
@inject GeoLocationService locationService

@using BrowserInterop.Extensions
@using BrowserInterop.Geolocation
@using WinchHuntApp.Client.Services
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

@page "/tracking"

<div ref="mapDiv"
     id="mapDivId"
     style="height: 98%;">

    <GoogleMap @ref="map" Id="map1" Options="@mapOptions" OnAfterInit="@OnAfterMapInit" Height="100%"></GoogleMap>

</div>
